*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

html{
    scroll-behavior: smooth;
}

h2{
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0 1%;
    font-size: 2em;
}

hr{
    width: 100%;
    height: 3px;
    background:linear-gradient(to right,#1aaad6,#155cc5,#1aaad6)
}

#cabecalho{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 35px 100px;
    background: rgba(0, 0, 0, 0.2) url(./imagens/background.jpg);
    background-blend-mode: darken;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}

#cabecalho figure figcaption{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#cabecalho figure img{
    padding-top: 130px;
}

#cabecalho nav{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 80px;
    justify-content: space-around;
    position: fixed;
    top: 0;
    padding: 0;
}

.menu{
    list-style:none;
    float:left;
}

.menu li{
    position:relative;
    float:left;
    font-size: 1.2em;
}

.menu li a{
    color:#333; 
    text-decoration:none; 
    padding:5px 10px; 
    display:block;
}

.menu li a:hover{
    background:rgba(33, 43, 182, 0.74);
    color:#fff;
    box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
}

.menu li  ul{
    position:absolute;
    top:25px;
    left:0;
    background-color:#fff;
    display:none;
}

.menu li:hover ul, .menu li.over ul{
    display:block;
}

.menu li ul li{
    border:1px solid #c0c0c0;
    display:block;
    width:125px;
    font-size: 0.9em;
}

a{
    color: #000;
    text-decoration: none;
}

#categoria1,#categoria2,#categoria3,#categoria4,#categoria5,#categoria6,#categoria7,#categoria8,#categoria9,#categoria10, #contato{
    background-color: #f26519c7;
    min-height: 100%;
}

.formatacao .grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.formatacao .grid figure figcaption{
    text-align: center;
}

#categoria1 .grid img{
    height: 200px;
    margin: 10px 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#categoria1 .grid figure figcaption{
    background-color: #375abbd5;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}

#categoria2 .grid img{
    height: 240px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

#categoria2 .grid figure figcaption{
    font-size: 1.2em;
    background-color: #375abbd5;
    border-radius: 15px;
    padding: 15px;
}

#categoria3 .grid img{
    height: 240px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

#categoria3 .grid figure figcaption{
    font-size: 1.2em;
    background-color: #375abbd5;
    border-radius: 15px;
    padding: 15px;
}

#categoria4 .grid img{
    height: 240px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

#categoria4 .grid figure figcaption{
    font-size: 1.2em;
    background-color: #375abbd5;
    border-radius: 15px;
    padding: 15px;
}

#categoria5 .grid img{
    height: 240px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

#categoria5 .grid figure figcaption{
    font-size: 1.2em;
    background-color: #375abbd5;
    border-radius: 15px;
    padding: 15px;
}

#categoria6 .grid img{
    height: 240px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

#categoria6 .grid figure figcaption{
    font-size: 1.2em;
    background-color: #375abbd5;
    border-radius: 15px;
    padding: 15px;
}

#categoria7 .grid img{
    height: 240px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

#categoria7 .grid figure figcaption{
    font-size: 1.2em;
    background-color: #375abbd5;
    border-radius: 15px;
    padding: 15px;
}

#categoria8 .grid img{
    height: 190px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}


#categoria8 .grid figure figcaption{
    font-size: 1.2em;
    background-color: #375abbd5;
    border-radius: 15px;
    padding: 15px;
}

#categoria9 .grid img{
    height: 170px;
    margin: 20px 30px;
    display: flex;
    flex-wrap: wrap;
}

mark{
    border-radius: 10px;
    padding: 3px;
    background-color: #fff;
}
.preco{
    color: #fff;
    font-size: 1.5em;
}

#categoria9 .grid figure figcaption{
    font-size: 1.2em;
    background-color: #2253dae1;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}

#categoria10 .grid img{
    height: 240px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

#categoria10 .grid figure figcaption{
    font-size: 1.2em;
    background-color: #375abbd5;
    border-radius: 15px;
    padding: 15px;
}

#contato form{
    padding-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    font-size: 1.2em;
}

#contato form input{
    padding: 15px;
    width: 70%;
    color: #777;
    font-size: 1.1em;
    border-radius: 15px;
    border: 1px solid #1867cee0;
}

#contato form textarea{
    padding: 7px;
    border-radius: 15px;
    border: none;
    resize: none;
    font-size: 1.3em;
}

#contato form .botao{
    margin-top: 15px;
    padding: 15px 60px;
    border-radius: 15px;
    border: 1px solid #1867cee0;
    font-size: 1.5em;
    color: white;
    background-color: #182acc;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px;
    background-color: #777;
    color: white;
}


.fab{
    margin: 0 15px;
}

.fa-twitter{
    color: #00acee;
}

.fa-whatsapp{
    color: #34af23;
}

.fa-facebook{
    color: #3b5998;
}

@media (max-width: 375px)
{
    #cabecalho{
        flex-direction: column;
        background: rgba(0, 0, 0, 0.2) url(./imagens/background.jpg);
        background-blend-mode: darken;
        background-attachment: fixed;
        background-size: 100%;
        background-repeat: repeat;
    }

}
 